<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- css -->
    <link rel="stylesheet" href="css/uikit.almost-flat.css"/>
    <link rel="stylesheet" href="css/tm.docs.css"/>

    <!-- script -->
    <script src="js/jquery-2.2.2.js"></script>
    <script src="js/uikit.js"></script>
</ui:composition>
