<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <!-- toolbar -->
    <p:toolbar>
        <f:facet name="left">
            <p:outputLabel value="Welcome "/>
            <p:outputLabel value="#{home.userName}"/>
        </f:facet>
        <f:facet name="right">
            <h:form>
                <p:commandButton icon="ui-icon ui-icon-search" title="search" action="search"/>
                <p:commandButton icon="ui-icon ui-icon-info" title="info"/>
                <p:commandButton icon="ui-icon ui-icon-cart" title="cart"/>
                <p:commandButton icon="ui-icon ui-icon-gear" title="profile"/>
                <p:commandButton value="Logout" icon="ui-icon-extlink" ajax="false" action="#{home.logout}"/>
            </h:form>
        </f:facet>
    </p:toolbar>
</ui:composition>