<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    class="uk-height-1-1 uk-notouch">
        <h:head>
            <title><ui:insert name="title">TODO Insert A Title</ui:insert></title>
            <ui:include src="head.xhtml"/>
        </h:head>
        <h:body class="uk-height-1-1 uk-width-1-1">
            <ui:insert name="header"><ui:include src="header.xhtml"/></ui:insert>
            <ui:insert name="menu"></ui:insert>
            <ui:insert name="content"></ui:insert>
            <ui:insert name="footer"></ui:insert>
        </h:body>
</html>
