<!DOCTYPE html>
<ui:composition template="/commun/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">Home</ui:define>

    <ui:define name="content">
        <!-- uikit design -->
        <h:form>
            <p:dataList var="book" value="#{home.books}"
                        type="unordered" itemType="none"
                        paginator="true" rows="1"
                        styleClass="paginated" paginatorPosition="bottom">
                <hr class="uk-grid-divider uk-width-large-9-10"/>
                <div class="uk-grid uk-width-1-1">
                    <div class="uk-panel uk-width-large-2-10">
                        <p:graphicImage value="#{bookService.image}" class="uk-thumbnail">
                            <f:param name="bookId" value="#{book.id}"/>
                        </p:graphicImage>
                    </div>
                    <div class="uk-panel uk-panel-header uk-width-large-7-10">
                        <h3 class="uk-panel-title">#{book.title}</h3>
                        <p><h:outputText value="#{book.description}"/></p>
                        <p><h:outputText value="In Stock: " class="uk-text-bold"/><h:outputText value="0" class="uk-text-danger"/></p>
                        <p><p:button value="Order"/></p>
                    </div>
                </div>
                <hr class="uk-grid-divider uk-width-large-9-10"/>
                <div class="uk-grid">
                    <div class="uk-panel uk-width-large-2-10">
                        <p:graphicImage value="#{bookService.image}" class="uk-thumbnail">
                            <f:param name="bookId" value="#{book.id}"/>
                        </p:graphicImage>
                    </div>
                    <div class="uk-panel uk-panel-header uk-width-large-7-10">
                        <h3 class="uk-panel-title">#{book.title}</h3>
                        <p><h:outputText value="#{book.description}"/></p>
                        <p><h:outputText value="In Stock: " class="uk-text-bold"/><h:outputText value="10" class="uk-text-success"/></p>
                        <p><p:commandButton value="Reserve" ajax="true"/></p>
                    </div>
                </div>
            </p:dataList>
        </h:form>
    </ui:define>
</ui:composition>
