<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      class="uk-height-1-1 uk-notouch">
    <h:head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="css/uikit.almost-flat.css"/>
        <script src="js/jquery-2.2.2.js"></script>
        <script src="js/uikit.js"></script>
    </h:head>
    <h:body class="uk-height-1-1">
        <div class="uk-vertical-align uk-text-center uk-height-1-1">
            <div class="uk-vertical-align-middle">
                <h:form id="login_form" class="uk-form uk-form-horizontal uk-panel uk-panel-box">
                    <div class="uk-form-row">
                        <h:outputLabel for="user_name" value="Username:" class="uk-form-label uk-text-large"/>
                        <div class="uk-form-controls">
                            <p:inputText id="user_name" value="#{login.userName}"/>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <h:outputLabel for="password" value="Password:" class="uk-form-label uk-text-large"/>
                        <div class="uk-form-controls">
                            <p:password id="password" value="#{login.password}"/>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/>
                    </div>
                    <div class="uk-form-row">
                        <p:commandButton value="Login" update="login_form" ajax="false" action="#{login.verify}"/>
                    </div>
                </h:form>
            </div>
        </div>
    </h:body>
</html>
