<!DOCTYPE html>
<ui:composition template="/commun/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <!-- title -->
    <ui:define name="title">Search</ui:define>

    <!-- content -->
    <ui:define name="content">
        <!-- sidepanel -->
        <h:form>
            <div class="uk-grid uk-height-1-1">
                <div class="tm-sidebar uk-width-1-4 uk-height-1-1">
                    <ul class="tm-nav uk-nav">
                        <li class="uk-nav-header">Category:</li>
                        <div class="uk-container">
                            <h:selectOneMenu value="#{search.categoryPosition}" class="uk-width-1-1 uk-vertical-align-middle">
                                <f:selectItem itemLabel="Any" itemValue="-1"/>
                                <f:selectItems value="#{search.categoriesItems}"/>
                            </h:selectOneMenu>
                        </div>

                        <li class="uk-nav-header">States:</li>
                        <div class="uk-container">
                            <h:selectOneMenu id="disponible" value="#{search.statePosition}" class="uk-width-1-1">
                                <f:selectItem itemLabel="Any" itemValue="-1"/>
                                <f:selectItems value="#{search.statesItems}"/>
                            </h:selectOneMenu>
                        </div>
                    </ul>
                </div>

                <!-- content -->
                <div class="uk-container uk-width-3-4">
                    <div class="uk-container-center uk-width-3-4">
                        <!-- search -->
                            <p:inputText value="#{search.searchQuery}" placeholder="Name Of A Book" class="uk-width-7-10 uk-margin-right"/>
                            <p:commandButton value="Go" ajax="false" immediate="false" action="#{search.search}" class="uk-width-1-10" />
                    </div>
                    <div class="uk-width-1-1">
                        <!-- search result -->
                        <h:form>
                            <p:dataList var="book" value="#{search.books}"
                                        type="unordered" itemType="none"
                                        paginator="true" rows="4"
                                        styleClass="paginated" paginatorPosition="bottom">
                                <hr class="uk-grid-divider uk-width-large-9-10"/>
                                <div class="uk-grid uk-width-1-1">
                                    <div class="uk-panel uk-width-large-2-10">
                                        <p:graphicImage value="#{bookService.image}" class="uk-thumbnail">
                                            <f:param name="bookId" value="#{book.id}"/>
                                        </p:graphicImage>
                                    </div>
                                    <div class="uk-panel uk-panel-header uk-width-large-7-10">
                                        <h3 class="uk-panel-title">#{book.title}</h3>
                                        <p><h:outputText value="#{book.description}"/></p>
                                        <!-- colorize the output -->
                                        <p><h:outputText value="In Stock: " class="uk-text-bold"/>
                                           <h:outputText value="#{book.ownCopys.size()}" class="#{book.ownCopys.size() != 0 ? 'uk-text-success' : 'uk-text-danger'}"/>
                                        </p>

                                        <p><p:button value="Order" disabled="#{book.ownCopys.size() == 0}" /></p>
                                    </div>
                                </div>
                            </p:dataList>
                        </h:form>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
