<!DOCTYPE html>
<ui:composition template="/commun/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <!-- title -->
    <ui:define name="title">Home</ui:define>

    <!-- content -->
    <ui:define name="content">
        <div class="uk-width-1-1 uk-height-1-1 uk-vertical-align uk-text-center">
            <div class="uk-vertical-align-middle">
                <h3 class="uk-text-bold uk-text-large" style="font-size: 2.5em; line-height: 1em;">
                    Welcome In
                    <br/>
                    University Library
                    <br/>
                    Start By Searching For A Book:
                </h3>
                <div class="uk-vertical-align">
                    <div class="uk-width-1-1 uk-container-center">
                        <h:form>
                            <p:inputText placeholder="Name Of A Book" value="#{welcome.searchQuery}" class="uk-width-8-10 uk-vertical-align-middle uk-margin-right"/>
                            <p:commandButton value="Go" ajax="false" class="uk-width-1-10 uk-vertical-align-middle" action="#{welcome.go}"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
